In [1]:
import pandas as pd

In [2]:
dfModel = pd.read_csv('Model_Data.csv')
dfPlot = pd.read_csv('Plot_Data.csv')
dfDesc = pd.read_csv('Fuel_Model_Descriptions.csv')
dfSoil = pd.read_csv('Soil_Moisture.csv')

In [3]:
dfModel

,Plot_ID2,Plot_ID_orig.x,dens_ALL,dens_ABGR,dens_LAOC,dens_PICO,dens_PIEN,dens_PIPO,dens_PSME,dens_ABAM,...,AETp,d2liveTree,d2Conif,d2ConifNotLP,shrb_pcov,shrb_avht,shrb_mxht,grs_pcov,grs_avht,grs_mxht
0,005560_CMS,005560_CMS,8593.750000,0.000000,468.750000,0.000000,1015.625000,0.000000,7031.250000,0.0000,...,74.193333,2.743200,2.743200,2.743200,46.50,1.611111,1.958333,82.50,0.2500,0.4375
1,008124_CHN,008124_CHN,1628.851371,0.000000,310.849498,584.397057,422.755318,0.000000,248.679599,62.1699,...,76.343333,47.548798,47.548798,47.548798,57.50,1.472222,1.826389,0.75,0.2500,0.2500
2,046653_CHS,046653_CHN,62.169900,12.433980,0.000000,0.000000,0.000000,24.867960,24.867960,0.0000,...,69.893333,128.930396,128.930396,128.930396,17.50,0.250000,0.437500,13.75,0.2500,0.3750
3,046788_CMN,046788_CMN,683.868896,360.585418,0.000000,24.867960,0.000000,87.037859,149.207759,62.1699,...,68.816667,60.655198,60.655198,60.655198,26.25,1.236111,1.513889,0.50,0.8750,0.8750
4,046968_CMN,046968_CMN,72812.500000,27500.000000,0.000000,937.500000,0.000000,1562.500000,10000.000000,0.0000,...,80.643333,3.352800,3.352800,3.352800,64.25,1.909722,2.430556,0.25,0.2500,0.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,999901_DMS,999901_DMN,4062.500000,0.000000,390.625000,0.000000,0.000000,0.000000,3671.875000,0.0000,...,72.040000,0.914400,0.914400,0.914400,61.50,1.395833,1.666667,40.00,0.2500,0.2500
244,999902_DMS,999902_DMS,19375.000000,0.000000,5312.500000,0.000000,1250.000000,0.000000,12812.500000,0.0000,...,76.343333,3.048000,3.048000,6.096000,30.00,0.250000,0.625000,52.50,0.3125,1.0000
245,999903_CMS,999903_CMS,6718.750000,0.000000,78.125000,78.125000,0.000000,0.000000,6562.500000,0.0000,...,77.420000,8.229600,8.229600,8.229600,27.50,0.250000,0.437500,37.50,0.2500,0.3750
246,999904_CMS,999904_CMS,10156.250000,0.000000,2187.500000,0.000000,703.125000,0.000000,7265.625000,0.0000,...,78.496667,0.609600,0.609600,0.609600,50.00,0.312500,0.875000,18.75,0.1875,0.7500
247,999906_DHS,999906_DHS,430000.000000,0.000000,17187.500000,352500.000000,5312.500000,0.000000,53437.500000,0.0000,...,74.193333,58.521598,58.521598,70.713598,50.75,0.593750,0.812500,11.25,0.0000,0.2500

In [4]:
temp_dfModel = dfModel.filter(['Plot_ID_orig.x', 'FireSev', 'Salvage', 'lat', 'lon', 'nFires', 'elev', 'slope_albers'])

In [5]:
temp_dfModel = temp_dfModel.rename(columns = {'Plot_ID_orig.x': 'Plot_ID'})
temp_dfModel

,Plot_ID,FireSev,Salvage,lat,lon,nFires,elev,slope_albers
0,005560_CMS,M,S,48.608944,-118.541194,1,1348,12.260147
1,008124_CHN,H,N,48.601900,-118.498523,1,1697,20.097992
2,046653_CHN,H,S,47.688840,-120.470723,1,1390,25.850988
3,046788_CMN,M,N,47.686862,-120.470783,2,1335,32.534698
4,046968_CMN,M,N,47.685673,-120.455555,1,1054,19.188419
...,...,...,...,...,...,...,...,...
243,999901_DMN,M,S,48.612211,-118.558924,1,1293,13.206567
244,999902_DMS,M,S,48.698488,-118.499792,1,1594,16.419546
245,999903_CMS,M,S,48.700774,-118.506411,1,1484,17.676495
246,999904_CMS,M,S,48.696577,-118.501183,1,1530,17.932003
247,999906_DHS,H,S,48.958361,-118.405443,1,1527,23.061136

In [6]:
temp_dfPlot = dfPlot.filter(['Plot_ID', 'Date', 'Fuel_Model', 'Notes'])
temp_dfPlot

,Plot_ID,Date,Fuel_Model,Notes
0,159805_MHN,11/6/2017,GR2,Evidence of salvage logging. Plot should be re...
1,110508_DMN,10/4/2017,GS2,Plot found on popular hiking trail and moved 5...
2,110455_MMN,10/4/2017,TU2,All snags with snapped tops from windthrow. Do...
3,110098_DMN,10/4/2017,TU1,West quadrants are more open with mostly grass...
4,076213_DHS,9/20/2017,GS3,No evidence of salvage logging
...,...,...,...,...
270,78785_DMS,10/13/2017,NaN,Likely same PCT operation as 78853_CMS
271,78826_DMS,10/13/2017,NaN,Plot initially completed on new fire training ...
272,78853_CMS,10/13/2017,NaN,NaN
273,78898_DMS,10/13/2017,NaN,NaN
274,999908_MHS,8/16/2017,NaN,NaN

In [27]:
dfPM = pd.merge(temp_dfModel, temp_dfPlot, on = 'Plot_ID', how="inner")
dfPM

,Plot_ID,FireSev,Salvage,lat,lon,nFires,elev,slope_albers,Date,Fuel_Model,Notes
0,005560_CMS,M,S,48.608944,-118.541194,1,1348,12.260147,10/26/2017,TU5/TU3,Very old road passes through plot. Many diseas...
1,008124_CHN,H,N,48.601900,-118.498523,1,1697,20.097992,10/26/2017,TL4,NaN
2,046653_CHN,H,S,47.688840,-120.470723,1,1390,25.850988,9/14/2017,TU1,Evidence of salvage logging in plot
3,046788_CMN,M,N,47.686862,-120.470783,2,1335,32.534698,9/14/2017,TU2,NaN
4,046968_CMN,M,N,47.685673,-120.455555,1,1054,19.188419,9/19/2017,TU5,Large DBH trees had recently fallen
...,...,...,...,...,...,...,...,...,...,...,...
245,999901_DMN,M,S,48.612211,-118.558924,1,1293,13.206567,10/13/2017,TU3,Evidence of salvage logging. Small WL seedling...
246,999902_DMS,M,S,48.698488,-118.499792,1,1594,16.419546,8/4/2017,TU1,Javad initially didn't work on 8/4/17. Returne...
247,999903_CMS,M,S,48.700774,-118.506411,1,1484,17.676495,8/4/2017,TU1,Heavily grazed by cattle. Primitive trail take...
248,999904_CMS,M,S,48.696577,-118.501183,1,1530,17.932003,8/4/2017,TL3,Javad initially didn't work on 8/4/17. Returne...
249,999906_DHS,H,S,48.958361,-118.405443,1,1527,23.061136,8/17/2017,TU5,Skid trail at end of east transect

In [8]:
temp_dfDesc = dfDesc.filter(['FM Code', 'Fuel Model Name', 'Wind Adj', 'Moist Extinct', 'Dead Heat', 'Live Heat'])
temp_dfDesc = temp_dfDesc.rename(columns = {'FM Code': 'Fuel_Model'})
temp_dfDesc

,Fuel_Model,Fuel Model Name,Wind Adj,Moist Extinct,Dead Heat,Live Heat
0,FB1,Short Grass,0.36,12,8000,--
1,FB2,Timber grass and understory,0.36,15,8000,8000
2,GR1,"Short, sparse dry climate grass",0.31,15,8000,8000
3,GR2,Low load dry climate grass,0.36,15,8000,8000
4,GR4,Moderate load dry climate grass,0.42,15,8000,8000
5,GR7,High load dry climate grass,0.46,15,8000,8000
6,GS1,Low load dry climate grass-shrub,0.35,15,8000,8000
7,GS2,Moderate load dry climate grass-shrub,0.39,15,8000,8000
8,FB3,Tall grass,0.44,25,8000,--
9,GR3,Low load very coarse humid climate grass,0.42,30,8000,8000
10,GR5,Low load humid climate grass,0.39,40,8000,8000
11,GR6,Moderate load humid climate grass,0.39,40,9000,9000
12,GR8,High load very coarse humid climate grass,0.49,30,8000,8000
13,GR9,Very high load humid climate grass-shrub,0.52,40,8000,8000
14,GS3,Moderate load humid climate grass-shrub,0.41,40,8000,8000
15,GS4,High load humid climate grass-shrub,0.42,40,8000,8000
16,FB4,Chapparal,0.55,20,8000,8000
17,FB5,Brush,0.42,20,8000,8000
18,FB6,Dormant Brush,0.44,25,8000,--
19,SH1,Low load dry climate shrub,0.36,15,8000,8000
20,SH2,Mod. load dry climate shrub,0.36,15,8000,8000
21,SH5,High load dry climate shrub,0.55,15,8000,8000
22,SH7,Very high load dry climate shrub,0.55,15,8000,8000
23,TU1,Light load dry climate timber-grass-shrub,0.33,20,8000,8000
24,TU4,Dwarf conifer with understory,0.32,12,8000,8000
25,TU5,Very high load dry climate timber-shrub,0.33,25,8000,8000
26,FB10,Timber litter and understory,0.46,25,8000,8000
27,FB7,Southern rough,0.44,40,8000,8000
28,SH3,Mod. load humid climate shrub,0.44,40,8000,8000
29,SH4,Low load humid climate timber-shrub,0.46,30,8000,8000
30,SH6,Low load humid climate shrub,0.42,30,8000,8000
31,SH8,High load humid climate shrub,0.46,40,8000,8000
32,SH9,Very high load humid climate shrub,0.50,40,8000,8000
33,TU2,Moderate load humid climate timber-shrub,0.36,30,8000,8000
34,TU3,Moderate load humid climate timber-grass-shrub,0.38,30,8000,8000
35,FB8,Compact timber litter,0.28,30,8000,--
36,FB9,Hardwood litter,0.28,25,8000,--
37,TL1,Low load compact conifer litter,0.28,30,8000,--
38,TL2,Low load broadleaf litter,0.28,25,8000,--
39,TL3,Moderate load conifer litter,0.29,20,8000,--
40,TL4,Small downed logs,0.31,25,8000,--
41,TL5,High load conifer litter,0.33,25,8000,--
42,TL6,Moderate load broadleaf litter,0.29,25,8000,--
43,TL7,Large downed logs,0.31,25,8000,--
44,TL8,Long-needle litter,0.29,35,8000,--
45,TL9,Very high load broadleaf litter,0.33,35,8000,--
46,FB11,Light slash,0.36,15,8000,--
47,FB12,Medium slash,0.43,20,8000,--
48,FB13,Heavy slash,0.46,25,8000,--
49,SB1,Low load activity fuel,0.36,25,8000,--
50,SB2,Moderate load activity or low load blowdown,0.36,25,8000,--
51,SB3,High load activity fuel or moderate load blowdown,0.38,25,8000,--
52,SB4,High load blowdown,0.45,25,8000,--

In [26]:
dfPD = pd.merge(dfPM, temp_dfDesc, on = 'Fuel_Model', how="outer")
dfPD

,Plot_ID,FireSev,Salvage,lat,lon,nFires,elev,slope_albers,Date,Fuel_Model,Notes,Fuel Model Name,Wind Adj,Moist Extinct,Dead Heat,Live Heat
0,005560_CMS,M,S,48.608944,-118.541194,1.0,1348.0,12.260147,10/26/2017,TU5/TU3,Very old road passes through plot. Many diseas...,NaN,NaN,NaN,NaN,NaN
1,008124_CHN,H,N,48.601900,-118.498523,1.0,1697.0,20.097992,10/26/2017,TL4,NaN,Small downed logs,0.31,25.0,8000.0,--
2,050173_CHN,H,N,47.668247,-120.458705,1.0,1350.0,27.142056,9/14/2017,TL4,NaN,Small downed logs,0.31,25.0,8000.0,--
3,153514_MHS,H,S,48.950862,-118.361579,1.0,1358.0,16.228737,8/15/2017,TL4,20% of plot within a slash pile,Small downed logs,0.31,25.0,8000.0,--
4,155275_MHN,H,N,48.943130,-118.364241,1.0,1530.0,23.110508,8/14/2017,TL4,NaN,Small downed logs,0.31,25.0,8000.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FB13,NaN,Heavy slash,0.46,25.0,8000.0,--
277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SB1,NaN,Low load activity fuel,0.36,25.0,8000.0,--
278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SB2,NaN,Moderate load activity or low load blowdown,0.36,25.0,8000.0,--
279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SB3,NaN,High load activity fuel or moderate load blowdown,0.38,25.0,8000.0,--
280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SB4,NaN,High load blowdown,0.45,25.0,8000.0,--

In [10]:
dfSoil

,Unnamed: 0,Name,ID,State,Network,County,Elevation_feet,Latitude,Longitude
0,0,Adamsville,DADV,DE,DEOS,Kent,43,38.83300,-75.68300
1,1,Atglen,DWHW,DE,DEOS,Chester,663,39.91700,-75.98300
2,2,Bethany_Beach,DBNG,DE,DEOS,Sussex,7,38.55000,-75.06700
3,3,Blackbird,DBKB,DE,DEOS,New_Castle,41,39.38300,-75.63300
4,4,Blackiston,DBLK,DE,DEOS,Kent,56,39.23300,-75.73300
...,...,...,...,...,...,...,...,...,...
2101,2101,TxSON 29,TXS29,TX,TxSON,NaN,1527,30.25340,-98.69903
2102,2102,TxSON 30,TXS30,TX,TxSON,NaN,1522,30.24921,-98.69950
2103,2103,TxSON 31,TXS31,TX,TxSON,NaN,1795,30.41932,-98.80461
2104,2104,TxSON 32,TXS32,TX,TxSON,NaN,1966,30.46132,-98.84506
2105,2105,TxSON 33,TXS33,TX,TxSON,NaN,1945,30.44870,-98.84798

In [11]:
temp_dfSoil = dfSoil.filter(['Name', 'State', 'County', 'Elevation_feet'])
temp_dfSoil = temp_dfSoil.rename(columns = {'Elevation_feet': 'elev'})
temp_dfSoil

               Name State      County  elev
0        Adamsville    DE        Kent    43
1            Atglen    DE     Chester   663
2     Bethany_Beach    DE      Sussex     7
3         Blackbird    DE  New_Castle    41
4        Blackiston    DE        Kent    56
...             ...   ...         ...   ...
2101       TxSON 29    TX         NaN  1527
2102       TxSON 30    TX         NaN  1522
2103       TxSON 31    TX         NaN  1795
2104       TxSON 32    TX         NaN  1966
2105       TxSON 33    TX         NaN  1945

[2106 rows x 4 columns]

In [12]:
finalmg = pd.merge(dfPD, temp_dfSoil, on = 'elev', how="outer")
finalmg

,Plot_ID,FireSev,Salvage,lat,lon,nFires,elev,slope_albers,Date,Fuel_Model,Notes,Fuel Model Name,Wind Adj,Moist Extinct,Dead Heat,Live Heat,Name,State,County
0,005560_CMS,M,S,48.608944,-118.541194,1.0,1348.0,12.260147,10/26/2017,TU5/TU3,Very old road passes through plot. Many diseas...,NaN,NaN,NaN,NaN,NaN,Big Timber SE,MT,Nan
1,84386_CHS,H,S,48.712194,-118.525829,1.0,1348.0,29.917093,10/19/2017,TU5,Evidence of cattle grazing in plot,Very high load dry climate timber-shrub,0.33,25.0,8000.0,8000,Big Timber SE,MT,Nan
2,008124_CHN,H,N,48.601900,-118.498523,1.0,1697.0,20.097992,10/26/2017,TL4,NaN,Small downed logs,0.31,25.0,8000.0,--,NaN,NaN,NaN
3,050173_CHN,H,N,47.668247,-120.458705,1.0,1350.0,27.142056,9/14/2017,TL4,NaN,Small downed logs,0.31,25.0,8000.0,--,NaN,NaN,NaN
4,143891_MHS,H,S,48.980858,-118.412205,1.0,1350.0,15.021640,9/3/2017,TU5,Signs of seedling browsing present,Very high load dry climate timber-shrub,0.33,25.0,8000.0,8000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2337,NaN,NaN,NaN,NaN,NaN,NaN,1971.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TxSON 25,TX,NaN
2338,NaN,NaN,NaN,NaN,NaN,NaN,1754.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TxSON 26,TX,NaN
2339,NaN,NaN,NaN,NaN,NaN,NaN,1810.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TxSON 27,TX,NaN
2340,NaN,NaN,NaN,NaN,NaN,NaN,1634.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TxSON 28,TX,NaN
2341,NaN,NaN,NaN,NaN,NaN,NaN,1795.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TxSON 31,TX,NaN

In [15]:
finalmg.count()

Plot_ID             320
FireSev             293
Salvage             293
lat                 293
lon                 293
nFires              293
elev               2284
slope_albers        293
Date                320
Fuel_Model          324
Notes               202
Fuel Model Name     302
Wind Adj            302
Moist Extinct       302
Dead Heat           302
Live Heat           302
Name               2127
State              2127
County             2094
dtype: int64

In [18]:
finalmg.describe()

,lat,lon,nFires,elev,slope_albers,Wind Adj,Moist Extinct,Dead Heat
count,293.000000,293.000000,293.000000,2284.000000,293.000000,302.00000,302.000000,302.000000
mean,48.415157,-119.259917,1.010239,2693.249124,20.239465,0.36149,25.592715,8003.311258
std,0.571126,0.976994,0.100840,2977.452982,7.502643,0.05393,6.990003,57.543534
min,46.523005,-120.990386,1.000000,-79.000000,2.052775,0.28000,12.000000,8000.000000
25%,47.834228,-120.394844,1.000000,566.000000,14.491951,0.33000,20.000000,8000.000000
50%,48.708126,-118.520774,1.000000,1408.500000,19.984884,0.33000,25.000000,8000.000000
75%,48.952245,-118.411100,1.000000,3894.750000,25.446970,0.38000,30.000000,8000.000000
max,48.993247,-118.354262,2.000000,12080.000000,39.469452,0.55000,40.000000,9000.000000